@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Viperr Geoportal is Live!</h1>
    <p>Lead: roma | Frontend: olenbobb | Data: ashelywe</p>
</div>